@font-face {
    font-family: Open_Sans;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
/*@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}*/
body, html{
	font-family: Open_Sans;
}